#header{
    width: 100%;
    border-bottom: 1px solid rgb(235, 235, 235);
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    #logo{
        grid-column-start: 1;
        grid-column-end: 2;
        justify-self: center;
        align-self: center;
        label{
            font-size: 35px;
            letter-spacing: 0.5px;
            font-style: italic; /*con los fonts podemos modificar todo lo relacionado a textos*/
            font-weight: 900;
            text-shadow: 0px 0px 4px  gray;
        }
    }
    
   #menu{
        grid-column-start: 4;
        grid-column-end: 6;
        margin-right: 25px;
        align-self: center;
       nav{
            width: 100%;
            ul{
                width: 100%;

                align-items: center;
                display: flex;
                flex-direction:row;
                justify-content: space-around;
                li{
                    flex-basis: 20%;
                    height: 28px;
                    list-style: none;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    a{
                        color: rgb(102, 102, 102);
                    }
                }
                li:hover{
                    background-color: #ccc;
                    border: 1px solid black;
                    border-radius: 10px;
                    a{
                        color: black;
                    }
                }
    
           }
       }

   }
}
